<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:jaxrs-client="http://cxf.apache.org/jaxrs-client"
       xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        http://cxf.apache.org/jaxrs-client http://cxf.apache.org/schemas/jaxrs-client.xsd
        http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd" 
       xmlns:aop="http://www.springframework.org/schema/aop">

    <!-- Load defaults from apache cxf -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <!--This switches on the load-time weaving for  @Transactional (in case of mode="aspectj"), @Configurable annotated classes -->

    <!-- Configure swagger api support, see also jaxrs:features section in jaxrs:server and maven dependencies -->
    <bean id="swagger2Serializers" class="org.apache.cxf.jaxrs.swagger.DefaultSwagger2Serializers">
        <property name="javaDocPath" value="WEB-INF/lib/testjavadoc-api-1.0-SNAPSHOT-javadoc.jar"/>
    </bean>
    <bean id="swagger2Feature" class="org.apache.cxf.jaxrs.swagger.Swagger2Feature">
        <property name="swagger2Serializers" ref="swagger2Serializers"/>
        <property name="resourcePackage" value="ru.ilb.testjavadoc.web"/>
        <property name="scanAllResources" value="true"/>
        <property name="prettyPrint" value="true"/>
    </bean>


    <jaxrs:server address="/" basePackages="ru.ilb.testjavadoc.web">
        <jaxrs:providers>
        </jaxrs:providers>
        <jaxrs:features>
            <!-- swagger api support -->
            <ref bean="swagger2Feature" />
        </jaxrs:features>
        <jaxrs:inInterceptors>
        </jaxrs:inInterceptors>
        <jaxrs:outInterceptors>
            <!--uncomment to enable response validation --> 
            <!--<ref bean="validationOutInterceptor" />-->
        </jaxrs:outInterceptors>        
        <jaxrs:extensionMappings>
            <entry key="xml" value="application/xml;charset=UTF-8"/>
            <!-- comment to enable swagger api support. fixed in cxf 3.1.10 -->
            <!--<entry key="json" value="application/json;charset=UTF-8"/>-->
        </jaxrs:extensionMappings>
    </jaxrs:server>
    
    <http-conf:conduit name="*.http-conduit">
        <!-- disable chunking, not works everywhere -->
        <http-conf:client AllowChunking="false" />
    </http-conf:conduit>      
    
</beans>